@model IEnumerable<YAPET.Models.Activity>

@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "活動資訊管理列表";
    Layout = "~/Areas/Adm/Views/Shared/_Layout-Adm.cshtml";
    var p = Request.QueryString["page"];
}
<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

<h2 class="mt-4">活動管理</h2>

<p class="text-right">
    @Html.ActionLink("新增活動", "Create", new { page = p }, new { @class = "btn btn-primary" })
</p>
<table class="table" id="ActivitiesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Content)
        </th>*@

            @*<th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Adm.AdmId)
            </th>
            <th>詳細資料</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action("GetImage",new { id = item.ActivityNo })" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>*@
                
                @*<td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Adm.AdmId)
                </td>
                <td>
                    @*@Html.ActionLink("修改", "Edit", new { id = item.ActivityNo }) |*@
                    @Html.ActionLink("詳細資料", "Details", new { id = item.ActivityNo, page = p }, new { @class = "btn btn-outline-primary" })
                    @*@Html.ActionLink("刪除", "Delete", new { id = item.ActivityNo })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))*@

@section scripts {
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTable/Chinese traditional.js"></script>
    <script>
        $('pagination>li').addClass('page-item');
        $('pagination>li>a').addClass('page-link');

        let table = $('#ActivitiesTable').DataTable(Tableconfig);

    </script>
}