@model YAPET.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Adm/Views/Shared/_Layout-Adm.cshtml";
    var p = Request.QueryString["page"];
}



<h3 class="text-danger mt-4 mb-4">確定要刪除會員資料?</h3>
<div class="card border-info">
    <div class="card-header bg-info text-white"><h3>會員詳細資料</h3></div>

    <dl class="card-body row">
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.UserId)
        </dd>

        @*<dt class="col-3">
            @Html.DisplayNameFor(model => model.UserPwd)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.UserPwd)
        </dd>*@

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Herder)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Herder)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Freeze)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Freeze)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-footer text-right">
            <input type="submit" value="刪除" class="btn btn-outline-danger btn-lg" />
            @Html.ActionLink("返回", "Index", new { page = p }, new { @class = "btn btn-outline-success btn-lg" })
        </div>
    }
</div>
