@model YAPET.Models.Register

@{
    ViewBag.Title = "註冊";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="py-5">
        <div class="container px-3">
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">會員註冊</h1>
                    <p class="lead fw-normal text-muted mb-0">體驗更多功能</p>
                </div>

                <div class="col-md-6 offset-md-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserAccount, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserAccount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserAccount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserPwd, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.UserPwd, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserPwd, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserPwdConfirm, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.UserPwdConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserPwdConfirm, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-right">
                            <div class="text-danger">@ViewBag.ErrMsg</div>
                            <input type="submit" value="註冊" class="btn btn-primary btn-lg px-4 mt-3" />
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center">
                @Html.ActionLink("返回登入頁面", "Login")
            </p>
        </div>
    </section>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
