@model YAPET.Models.Knowledge

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Adm/Views/Shared/_Layout-Adm.cshtml";
    var p = Request.QueryString["page"];
}

<h2 class="mt-4 mb-4">小學堂資料</h2>

<div class="card border-info ">
    <div class="card-header bg-info text-white"><h3>小學堂詳細資料</h3></div>   
    
    <dl class="card-body row">

        <dd class="col-12">
            <img src="/GetImage/GetImage?id=@Model.KnowledgeNo&tableName=Knowledge" width="400" />
            @*<img src="@Url.Action("GetImage","GetImage",new { id=Model.KnowledgeNo,tableName="Knowledge"})" width="400" />*@
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Title)
        </dd>


        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Adm.AdmId)
        </dt>

        <dd class="col-3">
            @Html.DisplayFor(model => model.Adm.AdmId)
        </dd>

        <dt class="col-12">
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd class="col-12">
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>

<div class="card-footer text-right">
    @*@Html.ActionLink("編輯", "Edit", new { id = Model.UserNo, page = p }, new { @class = "btn btn-success" })*@
    @Html.ActionLink("回上一頁", "Index", new { id = Model.KnowledgeNo, page = p }, new { @class = "btn btn-success" })
    @Html.ActionLink("編輯", "Edit", new { id = Model.KnowledgeNo, page = p }, new { @class = "btn btn-primary" })
    @Html.ActionLink("刪除", "Delete", new { id = Model.KnowledgeNo, page = p }, new { @class = "btn btn-danger" })
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KnowledgeNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
