@model YAPET.Models.VMBlog

@{
    int user = ((YAPET.Models.User)HttpContext.Current.Session["user"]).UserNo;
}

<div class="card">
    <span class="fa fa-user-circle btn btn-warning"> 我的貼文分享</span>
    <div class="row no-gutters card-body">

        <p>
            @Html.ActionLink(" 新增資料", "Create", null, new { @class = "btn btn-outline-warning fa fa-plus" })
        </p>
        <table class="table">
            <tr>
                <th class="d-none d-md-block">
                    圖片
                </th>
                <th>
                    標題
                </th>
                <th>
                    分類
                </th>
                <th>
                    狀態
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.posts)
            {
                <tr>
                    <td class="d-none d-md-block">
                        @{
                            var photo = Model.photos.Where(p => p.PostNo == item.PostNo).FirstOrDefault();
                            if (photo != null)
                            {
                                <img src="@Url.Action("GetImage","GetImage",new { id=photo.PhotoNo, tableName = "Photo"})" style="width: 100px;" />
                            }
                            else
                            {
                                <img src="~/images/DefaultImage.jpg" style="width: 100px;" />
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostType.PostType1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostState.StateName)
                    </td>
                    <td class="text-right">
                        @Html.ActionLink("詳細資料", "Details", new { id = item.PostNo })
                    </td>
                </tr>
            }

        </table>

    </div>

    <p class="card-footer text-right mb-0">
        @Html.ActionLink("觀看所有我的貼文分享", "UserBlog", "VMBlog", new { id = user }, new { @class = "btn btn-warning" })
    </p>
</div>