@model YAPET.Models.Introduction

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Adm/Views/Shared/_Layout-Adm.cshtml";
    var p = Request.QueryString["page"];
}

<h2 class="mt-4 mb-4">平台資料建立</h2>

@using (Html.BeginForm("Create", "Introductions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card border-warning shadow-lg">
        <div class="card-body">
            <h4>平台資訊</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Photo)
            @Html.HiddenFor(model => model.ImageMimeType)
            @Html.HiddenFor(model => model.AdmNo)
            @Html.HiddenFor(model => model.IntroductionNo)

            @*<div class="form-group">
            @Html.LabelFor(model => model.IntroductionNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntroductionNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IntroductionNo, "", new { @class = "text-danger" })
            </div>
        </div>*@

            @*<div class="form-group">
            @Html.LabelFor(model => model.AdmNo, "AdmNo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdmNo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdmNo, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img id="newPhoto" width="100" />
                    <input id="photo" name="photo" type="file" class="form-control" data-val="true" data-val-required="上傳照片" />

                    <span class="field-validation-valid text-danger" data-valmsg-for="Photo" data-valmsg-replace="true"></span>
                    <span class="text-danger">@ViewBag.errmsg</span>
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                <div class="card-footer text-right">
                    <input type="submit" value="確認" class="btn btn-primary" />
                    @Html.ActionLink("取消", "Index", new { page = p }, new { @class = "btn btn-danger " })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $('#photo').change(() => {
            var oFReader = new FileReader();
            var file = document.getElementById('photo').files[0];
            oFReader.readAsDataURL(file);
            oFReader.onloadend = function (oFRevent) {
                var src = oFRevent.target.result;
                $('#newPhoto').attr('src', src);

            }
        })
    </script>
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
