@model IEnumerable<YAPET.Models.Report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Adm/Views/Shared/_Layout-Adm.cshtml";
    var p = Request.QueryString["page"];
}

<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

<h2>貼文檢舉</h2>

<table class="table" id="ReportTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Post.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>

            <td>
                @Html.ActionLink("詳細資料", "Details", new { id = item.ReportNo, page = p }, new { @class = "btn btn-outline-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTable/Chinese traditional.js"></script>
    <script>
        $('pagination>li').addClass('page-item');
        $('pagination>li>a').addClass('page-link');

        let table = $('#ReportTable').DataTable(Tableconfig);

    </script>
}