@model YAPET.Models.Activity

@{
    ViewBag.Title = "活動資訊";
}

<div class="container my-5">
    <div class="card border-success">
        <div class="card-header bg-success">
            <h3 class="text-center text-white mb-0">活動資訊</h3>
        </div>
        <div class="row no-gutters card-body">
            <div class="col-md-4 mb-3">
                <img src="@Url.Action("GetImage","GetImage",new { id=Model.ActivityNo,tableName="Activity"})" style="width:100%" />
            </div>
            <div class="col-md-8 pl-5">
                <h3 class="card-title">@Html.DisplayFor(model => model.Title)</h3>
                <p class="mb-0">活動日期：</p>
                <h4> @Html.DisplayFor(model => model.Date) ~ @Html.DisplayFor(model => model.Deadline)</h4>
               
                <p class="mt-4">
                    @Html.DisplayFor(model => model.Content)
                </p>

            </div>

        </div>
    </div>
    <p class="text-right">
        @Html.ActionLink("回活動列表", "ActivityIndex")
    </p>
</div>
